// bower:scss
// endbower

//Main Imports
@import 'variables';
@import 'mixins';

//Component Imports
@import 'components/forms.scss';

//Route Imports
@import 'routes/attendee.scss';


body {
  background-color: #eee;
}

.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;

}
